<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ########## REQUIRED META TAGS ########## -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Sharma Web Development & Graphic Design </title>
  <!-- ########## FONT AWESOME ICON-FONTS ########## -->
  <script src="https://kit.fontawesome.com/15bf670575.js" crossorigin="anonymous"></script>
  <!-- ########## STYLE SHEETS - CSS ########## -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <!-- Main wrapper -->
  <div class="container-fluid mainWrapper">
    <!-- ########## HEADER SECTION ########## -->
    <section>
      <header class="container-fluid py-2 pl-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent p-3 pl-5">
          <a class="navbar-brand ml-0 mr-0" href="/">
            <img src="/images/Logo-White-Bg-Behind-Texts-250x101.png" alt="Sharma Web Development & Graphic Design Logo" class="img-fluid" /> </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse w-100" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home text-info"></i> Home <span class="sr-only">(current)</span></a>
              </li>

              <ul class="dropdown">
                <li class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <a class="nav-link" href="/portfolio-main"><i class="fas fa-layer-group text-info"> </i> Portfolio <i class="fas fa-caret-down"></i> </a>
                </li>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li class="dropdown-item"><a class="nav-link text-info" href="/web-development"><i class="fas fa-laptop-code"></i> Web Development</a></li>
                  <li class="dropdown-item" type="button"><a class="nav-link text-info" href="/graphic-digital"><i class="fas fa-mouse"></i> Graphic Design <br> & Digital Drawing</a></li>
                  <!-- <li class="dropdown-item" type="button"><a class="nav-link text-info" href="#"><i class="fas fa-drafting-compass"></i> Digital Drawing</a></li> -->
                  <li class="dropdown-item" type="button"><a class="nav-link text-info" href="/painting"><i class="fas fa-paint-brush"></i> Oil Painting <br> & Chalkboard Art</a></li>
                  <!-- <li class="dropdown-item" type="button"><a class="nav-link text-info" href="#"><i class="fas fa-highlighter"></i> Chalkboard Art</a></li> -->
                </ul>
              </ul>
              <li class="nav-item ml-1 mr-5">
                <a class="nav-link" href="/about"><i class="fas fa-id-card text-info"> </i> About</a>
              </li>
            </ul>
          </div> <!-- .navbar-collapse ends -->
        </nav>
      </header>
    </section> <!-- Header section ends -->
    <!-- ########## MAIN SECTION -1 ########## -->
    <section>
      <div class="row">
        <div class="col">
          <h1 class="text-center text-dark text-uppercase font-weight-bold mt-5"> Full Stack Web Development <br> <span class="text-info"> & Graphic Design </span> </h1>
          <!-- <h3 class="text-center text-warning my-3"> <em> This website is under construction.</em> </h3> -->
        </div>
      </div>
    </section> <!-- Main section -1 ends -->
    <!-- ########## MAIN SECTION -2 ########## -->
    <section>
      <div class="row my-4">
        <div class="col p-5 text-center midImage">
          <h6 class="text-white p-3" id="greetingTexts"> Welcome! And, thank you for visiting us! </h6>
          <h6 class="text-white" id="greetingTexts"> This website showcases some of our work. </h6>
          <!-- input group -->
          <!--  <div class="input-group mx-auto">
            <input type="text" class="form-control text-center" id="frontInput">
          </div>  input group ends -->
          <p class="text-warning pb-3 py-2"> Click a button below to go to the related portfolio page. </p>
          <a href="/web-development"> <button type="button" class="btn btn-danger my-1" id="frontLgBtn"> Web Development </button> </a>
          <a href="/graphic-digital"> <button type="button" class="btn btn-success my-1" id="frontLgBtn"> Graphic Design </button> </a>
          <a href="/graphic-digital"> <button type="button" class="btn btn-primary my-1" id="frontLgBtn"> Digital Drawing </button> </a>
          <!--<a href="/painting"> <button type="button" class="btn btn-light my-1" id="frontLgBtn"> Oil Painting </button> </a>
          <a href="/painting"> <button type="button" class="btn btn-secondary my-1" id="frontLgBtn"> Chalkboard Art </button> </a>-->
          <!--<a href="/about"> <button type="button" class="btn btn-dark my-1" id="frontLgBtn"> About Our Work </button> </a>-->
        </div>

      </div>
    </section> <!-- Main section -2 ends -->
    <!-- ########## FOOTER SECTION ########## -->
    <!-- Sign Up and Login Section -->
    <section>
      <div class="col loginBlock text-center">
        <h6 class="mb-2">Login to view our side works</h6>
        <form action="/login" method="POST" class="mb-2">
          <input name="username" type="text" class="loginInput mb-1" placeholder="Username">
          <input name="password" type="password" class="loginInput mb-1"  placeholder="Password">
          <button class="btn btn-sm mb-1 loginButton">Log In</button>
        </form>
      </div> <!-- Log in block ends -->
      <div class="col signUpBlock text-center">
        <hr class="w-100 mt-2 mb-3 ">
        <h6 class="mb-2">New user: Register here</h6>

        <form action="/register" method="POST">
          <input type="text" name="username" class="signUpInput mb-1"  placeholder="Type a username" />
          <input type="text" name="email" class="signUpInput mb-1"  placeholder="you@example.com" />
          <input type="password" name="password" class="signUpInput mb-1"  placeholder="Type a password" />
          <button type="submit" class="btn btn-sm mb-1 signUpButton">Sign up</button>
        </form>
      </div> <!-- Sign up block ends -->
    </section> <!-- Sign up and login section ends -->

    <!-- Footer Section -->
    <section>
      <footer>
        <div class="text-center bg-dark text-info py-4 px-3">
          <p class="py-4"> &copy;<%= new Date().getFullYear(); %> &bull; Sharma Web Development & Graphic Design &bull; Cary, North Carolina &bull; 919-793-4494 </p>
        </div>
      </footer>
    </section> <!-- footer section ends-->
  </div> <!-- Main wrapper container ends -->

  <!-- Required Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/scripts/js-for-ui-display.js"> </script>


</body>

</html>