<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ########## REQUIRED META TAGS ########## -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Sharma Web Development & Graphic Design </title>
  <!-- ########## FONT AWESOME ICON-FONTS ########## -->
  <script src="https://kit.fontawesome.com/15bf670575.js" crossorigin="anonymous"></script>
  <!-- ########## STYLE SHEETS - CSS ########## -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/main.css">
  <style>
    .popupWindow {
      width: 500px;
      height: 600px;
      border: 1px solid #aeaeae;
      border-radius: 8px;
      background-color: white;
      margin-top: 10%;
    }
    .popupLogo{
      width: 250px;
      height: 101px;
    }
  </style>
</head>

<body class="bg-dark text-center d-flex justify-content-center align-items-center">
  <!-- Main wrapper -->
  <div class="row popupWindow text-center d-flex justify-content-center align-items-center">

    <!-- ########## MAIN SECTION ########## -->
    <div class="col-12 p-4">
      <a class="navbar-brand ml-0 mr-0" href="/">
        <img src="/images/Logo-White-Bg-Behind-n-Dark-Texts-250x101.png" alt="Sharma Web Development & Graphic Design Logo" class="img-fluid mb-3 popupLogo" /> </a>
      <h2 class="d-3 mt-4 mb-2"> Congratulation! </h2>
      <h4 class="text-primary mt-2 mb-5"> Registration successfully completed. </h4>
      <p> Now click the button below to go to login. </p>
      <a href="/"> <button class="btn btn-success my-3"> Go to main page for login </button> </a>
      <p class="py-4 mt-4 px-2 text-center text-muted"> &copy;<%= new Date().getFullYear(); %> &bull; Sharma Web Development & Graphic Design <br /> Cary, North Carolina &bull; 919-793-4494 </p>
    </div>
  </div>

  <!-- Required Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>